# Local files need not be managed
*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
.vscode

# 一旦src配下を全拒否し、管理が必要なファイルやディレクトリを追加
/*
!/wp-content
/wp-content/*

# テーマはgit管理に含める
!/wp-content/themes
/wp-content/themes/index.php
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen

# プラグイン
!/wp-content/plugins/
/wp-content/plugins/*
# 独自開発したプラグインディレクトリを以下に追加しgit管理する
